.card{
    border:2px solid black;
    display: flex;
    align-items: center;
    height:350px;
    width:300px;
    padding: 3rem;
}

.contenedorCards{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding:1rem;
}
