.card{
    border:  2px solid black;
    display: flex;
    align-items: center;
    height:440px;
    width:300px;
}

.contenedorCards{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding:1rem;
}

.card input{
    position: absolute;
	bottom: 10px;
}

.card p{
    text-align: center;
    padding: 1.6rem;
}
